<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div>
      <menu>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/news">News</a></li>
          <li><a href="/aboutUs">About us</a></li>
        </ul>

        <ul>
          <li><a href="/singIn">Sing in</a></li>
          <li><a href="/singUp">Sing up</a></li>
        </ul>
      </menu>
    </div>
    <div>
      <h2>News</h2>
      <form action="/news" method="post">
        <input type="text" name="title" />
        <input type="text" name="text" />
        <input type="text" name="id" value="<%- news.length + 1%>" />
        <button type="submit">Add</button>
      </form>

      <div>
        <ul>
          <% news.forEach(item => { %>

          <li>
            <a href="/news/<%= item.id%>"><%= item.title%></a>

            <form action="/news/<%= item.id%>" method="POST">
              <input type="hidden" name="_method" value="DELETE" />

              <button type="submit">del</button>
            </form>

            <br />

            <form action="/news/<%= item.id%>" method="POST">
              <input type="hidden" name="_method" value="PUT" />

              <label for="">Title news</label>

              <input type="text" name="title" value="<%= item.title %>" />

              <label for="">Text news</label>

              <input type="text" name="text" value="<%= item.text %>" />

              <button type="submit">Update</button>
            </form>
          </li>

          <br />

          <hr />

          <% }) %>
        </ul>
      </div>
    </div>
  </body>
</html>
